## Tuples

Examples from [Think Python Chapter 12](http://greenteapress.com/thinkpython2/html/thinkpython2013.html)

In [ ]:
t = 'a', 'b', 'c', 'd', 'e'
t

In [ ]:
t = ('f', 'g', 'h', 'i', 'j')
t

In [ ]:
t1 = 'a',
type(t1)

In [ ]:
t2 = ('a')
type(t2)

In [ ]:
t = tuple()
t

In [ ]:
t = tuple('penguin')
t

Most list operators work for tuples...

In [ ]:
t[0]

In [ ]:
t[1:4]

Except for modifications, because tuples are **immutable**.

In [ ]:
t[0] = 'P'

In [ ]:
t.sort()

In [ ]:
s = "puffin"
s[0]

In [ ]:
s[0] = "P"

We can't modify, but we can replace one tuple with another by updating the variable assignment.

In [ ]:
t = ('P',) + t[1:]
t

Comparing tuples with operators

In [ ]:
(0, 1, 2) < (0, 3, 4)

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

In [ ]:
(0, 1, 2) == (0, 1, 2)

In [ ]:
(0, 1, 2) >= (0, 0, 2)

### Tuple assignment

In [ ]:
a = "frog"
b = "bird"

print(a)
print(b)

In [ ]:
# we want to switch their values
a = b
b = a

print(a)
print(b)

In [ ]:
temp = a
a = b
b = temp

print(a)
print(b)

In [ ]:
a, b = b, a

print(a)
print(b)

In [ ]:
a, b = b*2, a*2

print(a)
print(b)

In [ ]:
a, b = 1, 2, 3

### Tuples as return values

In [ ]:
x = 7
y = 3

In [ ]:
x//y

In [ ]:
x%y

In [ ]:
# Return the tuple (x//y, x%y)
t = divmod(x, y)
t

In [ ]:
quot, rem = divmod(x, y)
quot

In [ ]:
rem

In [ ]:
help(divmod)

In [ ]:
def min_max(t):
    return min(t), max(t)

In [ ]:
tup = 0, 1, 2, 3

min_max(tup)

In [ ]:
min_max(0, 1, 2, 3)

In [ ]:
def min_max(*args):
    return min(args), max(args)

In [ ]:
min_max(0, 1, 2, 3)

### Variable-length arguments

In [ ]:
help(max)

In [ ]:
max(1,2,3)

In [ ]:
max([1,2,3])

In [ ]:
max()

### Lab time

Notice how the built-in `sum` function doe not accept multiple arguments. Write a `sum_all` function that accepts one or more arguments and returns their sum.

In [ ]:
help(sum)

In [ ]:
sum(0, 1, 2, 3)

In [ ]:
sum([0, 1, 2, 3])

In [ ]:
sum([0, 1, 2, 3], 10)

In [ ]:
...

In [ ]:
sum_all(0, 1, 2, 3)

***
### Sequence review

[Strings](http://greenteapress.com/thinkpython2/html/thinkpython2009.html):

- 


[Lists](http://greenteapress.com/thinkpython2/html/thinkpython2011.html):

- 


[Dictionaries](http://greenteapress.com/thinkpython2/html/thinkpython2012.html):

- 


[Tuples](http://greenteapress.com/thinkpython2/html/thinkpython2013.html):

-